{% extends 'JkSearchBundle::layout.html.twig' %}
{% block panelBody %}
    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Rodzaj nieruchmości</label>
            {{ form_widget(form.propertyType) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Rynek</label>
            {{ form_widget(form.marketType) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Województwo</label>
            {{ form_widget(form.region) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Rodzaj oferty</label>
            {{ form_widget(form.adType) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Miasto</label>
            {{ form_widget(form.city) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Cena w PLN (od - do)</label>
            {{ form_widget(form.priceFrom) }} - {{ form_widget(form.priceTo) }}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Powierzchnia w m<sup>2</sup> (od - do)</label>
            {{ form_widget(form.areaFrom) }} - {{ form_widget(form.areaTo) }}
        </div>
        {{ form_row(form._token) }}
        <button type="submit" class="btn btn-default">Szukaj</button>
    </form>
{% endblock %}