{% extends 'JkSearchBundle::layout.html.twig' %}
{% block title %}{{ parent() }} - wyniki wyszukiwania{% endblock %}
{% block panelTitle %}{{ parent() }} - wyniki wyszukiwania{% endblock %}
{% block panelBody %}
    Brak wyników wyszukiwania dla podanych kryteriów.<br/><br/>
    <a href="{{ path('form') }}">Powrót do formularza</a>
{% endblock %}