{% extends 'JkSearchBundle::layout.html.twig' %}
{% block title %}{{ parent() }} - wyniki wyszukiwania{% endblock %}
{% block panelTitle %}{{ parent() }} - wyniki wyszukiwania (ilość wyników: {{ ads|length }}){% endblock %}
{% block panelBody %}
    <a href="{{ path('form') }}">Powrót do formularza</a><br/>
    <br/>
    <ul>
        {% for ad in ads %}
            <li>
                <strong>{{ ad.adType }}</strong><br/>
                rodzaj nieruchomości: <strong>{{ ad.propertyType }}</strong><br/>
                rynek: <strong>{{ ad.marketType }}</strong><br/>
                województwo: <strong>{{ ad.region }}</strong><br/>
                powierzchnia: <strong>{{ ad.area }} m<sup>2</sup></strong><br/>
                cena: <strong>{{ ad.price }} zł</strong><br/>
                <br/>
            </li>
        {% endfor %}
    </ul>
{% endblock %}