{% extends '::base.html.twig' %}
{% block title %}Wyszukiwarka ogłoszeń{% endblock %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">{% block panelTitle %}Wyszukiwarka ogłoszeń{% endblock %}</div>
        <div class="panel-body">
            {% block panelBody %}{% endblock %}
        </div>
    </div>
{% endblock %}